* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fbfcfa;
}

nav {
	
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 15px 50px;
  color: #050605;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

/*  */
li {
	width: 70px;
  }
  
  li a {
	font-size: 1.1rem;
	cursor: pointer;
	padding: 20px 15px;
	transition: 0.5s;
	color: black;
  }
  
  li a:hover {
	color: #f1c40f;
	border-bottom: 4px #f1c40f solid;
	transition: 0.5s;
  }

.logo {
	width: 5rem;
}
