* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fbfcfa;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 15px 50px;
  color: #050605;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
