* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fbfcfa;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  background-color: #ccd5ae;
  padding: 15px 50px;
  color: #050605;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

/*  */
li {
  width: 70px;
}

li a {
  font-size: 1.1rem;
  cursor: pointer;
  padding: 20px 15px;
  transition: 0.5s;
  color: black;
}

li a:hover {
  color: #f1c40f;
  border-bottom: 4px #f1c40f solid;
  transition: 0.5s;
}

.logo {
  width: 5rem;
}

.hamburger {
  display: none;
}

/* Home Section */
#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  color: #333;
}

.hero {
  display: flex;
  align-items: center;
  text-align: center;
}

.hero img {
  width: 200px;
  border-radius: 10%;
  object-fit: cover;
  margin-left: 25px;
  margin-right: 50px;
}

.bio {
  flex: 1;
}

.bio h1 {
	font-size: 4rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.bio p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}

/* Bio Links */
.bio-link {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}


/* Media Query */
@media screen and (max-width: 700px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    padding: 10px;
    margin-right: -10px;
  }

  .line {
    display: block;
    background-color: gray;
    height: 3px;
    width: 35px;
  }

  .nav-links {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #ccd5ae;
    top: -300px;
    left: 0;
    padding: 35px 0;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.363);
    transition: top 0.5s ease;
    z-index: 99;
  }

  .show-links {
    top: 70px;
	scroll-behavior: smooth;
  }
  
  li a {
    color: rgba(12, 11, 11, 0.836);
  }

  li {
    text-align: center;
    width: 90vw;
  }

  li a:hover {
    font-weight: bold;
    color: #191e24;
    border: none;
    letter-spacing: 3px;
  }

  nav {
    position: fixed;
    padding: 15px 20px;
  }
}
